## List Cheat Sheet

In [21]:
import pandas as pd
brics = pd.read_csv('Datasets/brics.csv')

In [22]:
brics

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

___

## With For Loops

In [2]:
list1 = ['a', 'b', 'c', 'd', 'e']

In [3]:
for entry in list1:
    print(entry)

a
b
c
d
e

___

## List Function list( )

In [4]:
new_list = list('abcde')
new_list

['a', 'b', 'c', 'd', 'e']

___

## List Methods

In [5]:
list1 = ['a', 'b', 'c', 'd', 'e']
list2 = ['f', 'g', 'g', 'i', 'j']

list3 = ['a', 'b', 'c', 'd', 'e']
list4 = ['f', 'g', 'g', 'i', 'j']

#### Sorted

In [6]:
list5 = [5,6,9,8,2,1,6,3,4,0]
sorted(list5)

[0, 1, 2, 3, 4, 5, 6, 6, 8, 9]

#### Extend

In [7]:
list3.extend('xyz')
print(list3)

list4.extend(list1)
print(list4)

['a', 'b', 'c', 'd', 'e', 'x', 'y', 'z']
['f', 'g', 'g', 'i', 'j', 'a', 'b', 'c', 'd', 'e']

#### Append

In [8]:
list1.append('abc')
print(list1)
list2.append(list1)
print(list2)

['a', 'b', 'c', 'd', 'e', 'abc']
['f', 'g', 'g', 'i', 'j', ['a', 'b', 'c', 'd', 'e', 'abc']]

#### In

In [10]:
'a' in list1

True

- #### list( )

In [27]:
list({'Test', 'Math', 1, 3, 'Five'})

[1, 3, 'Test', 'Math', 'Five']

In [28]:
new_list = list('abcde')
new_list

['a', 'b', 'c', 'd', 'e']

- #### .tolist( )

In [25]:
values = brics.values
values

array([['BR', 'Brazil', 'Brasilia', 8.516, 200.4],
       ['RU', 'Russia', 'Moscow', 17.1, 143.5],
       ['IN', 'India', 'New Delhi', 3.286, 1252.0],
       ['CH', 'China', 'Beijing', 9.597000000000001, 1357.0],
       ['SA', 'South Africa', 'Pretoria', 1.2209999999999999, 52.98]],
      dtype=object)

In [26]:
values.tolist()

[['BR', 'Brazil', 'Brasilia', 8.516, 200.4],
 ['RU', 'Russia', 'Moscow', 17.1, 143.5],
 ['IN', 'India', 'New Delhi', 3.286, 1252.0],
 ['CH', 'China', 'Beijing', 9.597000000000001, 1357.0],
 ['SA', 'South Africa', 'Pretoria', 1.2209999999999999, 52.98]]

___

___

## List Operations

In [9]:
list1 = ['a', 'b', 'c', 'd', 'e']
list2 = ['f', 'g', 'g', 'i', 'j']

In [10]:
list1 + list2

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'g', 'i', 'j']

In [11]:
list1 * 2

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

___

## List Indexing and Slcing

In [12]:
list1 = ['a', 'b', 'c', 'd', 'e']

In [29]:
list1[0]

'a'

In [30]:
list1[4]

'e'

In [14]:
list1[0] = 'z'
list1

['z', 'b', 'c', 'd', 'e']

In [15]:
list1[0:3]

['z', 'b', 'c']

In [16]:
list1[0:3] = 'ayz'
list1

['a', 'y', 'z', 'd', 'e']