# List Comprehension Example

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Datasets/tweets.csv')

In [6]:
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [79]:
df['created_at']

0     Tue Mar 29 23:40:17 +0000 2016
1     Tue Mar 29 23:40:17 +0000 2016
2     Tue Mar 29 23:40:17 +0000 2016
3     Tue Mar 29 23:40:17 +0000 2016
4     Tue Mar 29 23:40:17 +0000 2016
                   ...
95    Tue Mar 29 23:40:19 +0000 2016
96    Tue Mar 29 23:40:19 +0000 2016
97    Tue Mar 29 23:40:19 +0000 2016
98    Tue Mar 29 23:40:19 +0000 2016
99    Tue Mar 29 23:40:19 +0000 2016
Name: created_at, Length: 100, dtype: object

_____

## Objective
- Extract the timestamps where the time ends in 19 as in 23:40:19

In [80]:
time = df['created_at']

- the time info is located between the 11th and 19th string

In [78]:
time[0][11:19]

'23:40:17'

- Select times that end in '19'

In [73]:
tweet_time_19 = [entry for entry in time if entry[17:19] == '19']
tweet_time_19

['Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016',
 'Tue Mar 29 23:40:19 +0000 2016']