# SQL Cheat Sheet:  Arithmetic Operators

___

## 0. Loading Database

In [3]:
%reload_ext sql

In [17]:
%%sql
postgresql://localhost/films

___

## 1. Operators

In [22]:
%%sql
SELECT (4 * 3);

 * postgresql://localhost/films
1 rows affected.

[(12,)]

In [24]:
%%sql
SELECT (4 / 3);

 * postgresql://localhost/films
1 rows affected.

[(1,)]

In [25]:
%%sql
SELECT (4.0 / 3.0);

 * postgresql://localhost/films
1 rows affected.

[(Decimal('1.3333333333333333'),)]