In [2]:
# SQL Cheat Sheet

- OUTER JOINS reach out to another table while keeping all records of the origianl table
- Where INNER JOINS joins only keep records in both tables (matching ids)
 -  A LEFT JOIN keeps all orginal values in the LEFT table even if they not exist on the right table

In [5]:
%reload_ext sql

In [9]:
%sql postgresql://localhost/leaders

'Connected: @leaders'

In [14]:
%%sql
SELECT * FROM prime_ministers

 * postgresql://localhost/leaders
10 rows affected.

[('Egypt', 'Africa', 'Sherif Ismail'),
 ('Portugal', 'Europe', 'Antonio Costa'),
 ('Vietnam', 'Asia', 'Nguyen Xuan Phuc'),
 ('Haiti', 'North America', 'Jack Guy Lafontant'),
 ('India', 'Asia', 'Narendra Modi'),
 ('Australia', 'Oceania', 'Malcolm Turnbull'),
 ('Norway', 'Europe', 'Erna Solberg'),
 ('Brunei', 'Asia', 'Hassanal Bolkiah'),
 ('Oman', 'Asia', 'Qaboos bin Said al Said'),
 ('Spain', 'Europe', 'Mariano Rajoy')]