# For Loop Cheat Sheet

___

## 1. Strings as Range

In [96]:
message = 'Man'

In [94]:
for i in message:
    print(i)

M
a
n

___

## 2. Range as Range

In [7]:
for i in range(3):
    print(i)

0
1
2

In [9]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

___

## 3. Nested List as Range

In [16]:
house = [['hallway', 11.25],['kitchen', 18.0], ['kiving room', 20.0], ['bedroom', 10.75], ['bathroom', 9.50]]

In [17]:
for i in house:
    print(i)

['hallway', 11.25]
['kitchen', 18.0]
['kiving room', 20.0]
['bedroom', 10.75]
['bathroom', 9.5]

In [22]:
for i in house:
    print('the ' + i[0] + ' is ' + str(i[1]) + ' sqm')

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the kiving room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

___

## 4. Dictionary as Range

In [26]:
world = {'iran':30.55, 'albania':2.77, 'algeria': 39.21}

In [27]:
for key, value in world.items():
    print(key + ':' +  str(value))

iran:30.55
albania:2.77
algeria:39.21

In [28]:
for country, population in world.items():
    print(country + ':' +  str(population))

iran:30.55
albania:2.77
algeria:39.21

___

## 5. Numpy Array as Range

In [36]:
import numpy as np

height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
weight = np.array([1.25, 1.23, 1.24, 1.29, 1.22])

In [34]:
for item in height:
    print(item)

1.73
1.68
1.71
1.89
1.79

- #### 2D Array

In [37]:
np_2d = np.array([height, weight])

In [40]:
for item in np_2d:
    print(item , '\n')

[1.73 1.68 1.71 1.89 1.79]

[1.25 1.23 1.24 1.29 1.22]

In [41]:
for item in np.nditer(np_2d):
    print(item)

1.73
1.68
1.71
1.89
1.79
1.25
1.23
1.24
1.29
1.22

___

## 6. DataFrame as Range

In [93]:
import pandas as pd
brics = pd.read_csv('Datasets/brics.csv', index_col = 0)
# brics.index = [label[0:2] for label in brics['country']]
display(brics)

         country    capital    area  population
Br        Brazil   Brasilia   8.516      200.40
Ru        Russia     Moscow  17.100      143.50
In         India  New Delhi   3.286     1252.00
Ch         China    Beijing   9.597     1357.00
So  South Africa   Pretoria   1.221       52.98

In [80]:
new_brics = brics['country']
display(new_brics)

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [71]:
for val in brics:
    print(val)

country
capital
area
population

In [73]:
for label, row in brics.iterrows():
    print(label + ":" + row['capital'])

BR:Brasilia
RU:Moscow
IN:New Delhi
CH:Beijing
SA:Pretoria

In [98]:
# for label, row in brics.iterrows():
#     print(label)
#     print(row)
#     print('\n')

___

## 7. Enumrate

In [105]:
avengers = ['hawkeye', 'hulk', 'thor', 'quicksilver']
e = enumerate(avengers)
print(e)
print(list(e))

<enumerate object at 0x123104370>
[(0, 'hawkeye'), (1, 'hulk'), (2, 'thor'), (3, 'quicksilver')]

In [108]:
for index, value in enumerate(avengers):
    print(index, value)

0 hawkeye
1 hulk
2 thor
3 quicksilver

In [109]:
for index, value in enumerate(avengers, start=10):
    print(index, value)

10 hawkeye
11 hulk
12 thor
13 quicksilver

In [111]:
fam = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i, j in enumerate(fam):
    print('index' , i , ':', j)

index 0 : 1
index 1 : 2
index 2 : 3
index 3 : 4
index 4 : 5
index 5 : 6
index 6 : 7
index 7 : 8
index 8 : 9

___

## 8. Zip

In [2]:
avengers = ['hawkeye', 'hulk', 'thor', 'quicksilver']
names = ['barton', 'dr', 'odinson', 'maximoff']

z = zip(avengers, names)
print(z)
print(list(z))

<zip object at 0x109b9fa50>
[('hawkeye', 'barton'), ('hulk', 'dr'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

In [3]:
for z1, z2 in zip(avengers, names):
    print(z1, ':', z2)

hawkeye : barton
hulk : dr
thor : odinson
quicksilver : maximoff