In [27]:
import mysql.connector

import pandas as pd

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd= '123456789',
  database='classicmodels'
)

In [25]:
mydb

In [31]:
classicmodels_tables = pd.read_sql_query('SHOW TABLES FROM classicmodels', mydb)

In [32]:
classicmodels_tables

  Tables_in_classicmodels
0               customers
1               employees
2                 offices
3            orderdetails
4                  orders
5                payments
6            productlines
7                products

In [ ]:
test = pd.read_sql_query('SELECT TABLES FROM classicmodels', mydb)