In [3]:
import mysql.connector

import pandas as pd

%load_ext sql

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd= '123456789'
)

In [3]:
mydb

#### Create a DB

In [1]:
# Can't tun this aginbecause the data base has already be created
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

#### Connect to the DB

In [6]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="123456789",
  database="mydatabase"
)

#### Create a Table
- In the sql below, we are creating a table with title customers with 3 columns of title id, name and address. Column id stores data of type integer denoted by INT. Column id is meant to store unique key for each record. This is done using the PRIMARY KEY. It should be also incremented as new record is added by AUTO_INCREMENT
-  For column name and address, it stores data of type character of maximum 255, denoted by VARCHAR(255)

In [8]:
# Same here can't run again
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

# for more see
# https://medium.com/@tattwei46/how-to-use-python-with-mysql-79304bee8753