In [1]:
%load_ext sql

In [2]:
%sql sqlite://

'Connected: @None'

In [3]:
%%sql
CREATE TABLE Persons (LastName varchar(255), FirstName varchar(255));
INSERT INTO Persons VALUES('dafjky', 'duck');
INSERT INTO Persons VALUES('Mickey', 'Mouse');
SELECT * from Persons;

 * sqlite://
Done.
1 rows affected.
1 rows affected.
Done.

[('dafjky', 'duck'), ('Mickey', 'Mouse')]