# Pandas Cheat Sheet: DF As Range

In [5]:
import pandas as pd

In [9]:
brics = pd.read_csv('Datasets/brics.csv', index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

____

## 0. Intro

In [11]:
for val in brics:
    print(val)

country
capital
area
population

___

## 1. Iterrows

In [16]:
for label, row in brics.iterrows():
    print(label)
    print(row)
    print(" ")

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

IN
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object

CH
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object

SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

___

## 2. Selective Print

In [19]:
for label, row in brics.iterrows():
    print(label + ': ' + row['capital'])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

___

## 3. Add Column

In [24]:
for label, row in brics.iterrows():
    brics.loc[label, 'name_length'] = len(row['country'])

brics

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

In [26]:
brics['name_length_2'] = brics['country'].apply(len)
brics

         country    capital    area  population  name_length  name_length_2
BR        Brazil   Brasilia   8.516      200.40          6.0              6
RU        Russia     Moscow  17.100      143.50          6.0              6
IN         India  New Delhi   3.286     1252.00          5.0              5
CH         China    Beijing   9.597     1357.00          5.0              5
SA  South Africa   Pretoria   1.221       52.98         12.0             12