# SQL Cheat Sheet
LEFT JOIN | RIGHT JOIN | JOINING 3 TABLES

- OUTER JOINS reach out to another table while keeping all records of the origianl table
- Where INNER JOINS joins only keep records in both tables (matching ids)
 -  A LEFT JOIN keeps all orginal values in the LEFT table even if they not exist on the right table

In [65]:
%reload_ext sql

In [66]:
%sql postgresql://localhost/leaders

'Connected: @leaders'

In [67]:
%%sql
SELECT * FROM prime_ministers

   postgresql://localhost/countries
 * postgresql://localhost/leaders
10 rows affected.

[('Egypt', 'Africa', 'Sherif Ismail'),
 ('Portugal', 'Europe', 'Antonio Costa'),
 ('Vietnam', 'Asia', 'Nguyen Xuan Phuc'),
 ('Haiti', 'North America', 'Jack Guy Lafontant'),
 ('India', 'Asia', 'Narendra Modi'),
 ('Australia', 'Oceania', 'Malcolm Turnbull'),
 ('Norway', 'Europe', 'Erna Solberg'),
 ('Brunei', 'Asia', 'Hassanal Bolkiah'),
 ('Oman', 'Asia', 'Qaboos bin Said al Said'),
 ('Spain', 'Europe', 'Mariano Rajoy')]

In [68]:
%%sql
SELECT * FROM presidents

   postgresql://localhost/countries
 * postgresql://localhost/leaders
7 rows affected.

[('Egypt', 'Africa', 'Abdel Fattah el-Sisi'),
 ('Portugal', 'Europe', 'Marcelo Rebelo de Sousa'),
 ('Haiti', 'North America', 'Jovenel Moise'),
 ('Uruguay', 'South America', 'Jose Mujica'),
 ('Liberia', 'Africa', 'Ellen Johnson Sirleaf'),
 ('Chile', 'South America', 'Michelle Bachelet'),
 ('Vietnam', 'Asia', 'Tran Dai Quang')]

___

# 0. INNER JOIN
- For comparison with left and right join

In [69]:
%%sql
SELECT p1.country, prime_minister, president
FROM prime_ministers AS p1
    INNER JOIN presidents AS p2
        ON p1.country = p2.country

   postgresql://localhost/countries
 * postgresql://localhost/leaders
4 rows affected.

[('Egypt', 'Sherif Ismail', 'Abdel Fattah el-Sisi'),
 ('Portugal', 'Antonio Costa', 'Marcelo Rebelo de Sousa'),
 ('Vietnam', 'Nguyen Xuan Phuc', 'Tran Dai Quang'),
 ('Haiti', 'Jack Guy Lafontant', 'Jovenel Moise')]

## 1. LEFT JOIN
- The left join keeps everything on the left table and only joins matches on the right table

In [70]:
%%sql
SELECT p1.country, prime_minister, president
FROM prime_ministers AS p1
    LEFT JOIN presidents AS p2
        ON p1.country = p2.country

   postgresql://localhost/countries
 * postgresql://localhost/leaders
10 rows affected.

[('Egypt', 'Sherif Ismail', 'Abdel Fattah el-Sisi'),
 ('Portugal', 'Antonio Costa', 'Marcelo Rebelo de Sousa'),
 ('Vietnam', 'Nguyen Xuan Phuc', 'Tran Dai Quang'),
 ('Haiti', 'Jack Guy Lafontant', 'Jovenel Moise'),
 ('India', 'Narendra Modi', None),
 ('Australia', 'Malcolm Turnbull', None),
 ('Norway', 'Erna Solberg', None),
 ('Brunei', 'Hassanal Bolkiah', None),
 ('Oman', 'Qaboos bin Said al Said', None),
 ('Spain', 'Mariano Rajoy', None)]

___

### 1.1. Example 2
- Use AVG() with LEFT JOIN to deteremine the GDP per capita by region in 2010

In [71]:
%%sql 
postgresql://localhost/countries

'Connected: @countries'

In [72]:
%%sql
SELECT * FROM countries
LIMIT 1;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
1 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Kabul', 69.1761, 34.5228)]

In [73]:
%%sql
SELECT * FROM economies
LIMIT 2;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
2 rows affected.

[(1, 'AFG', 2010, 'Low income', 539.667, 37.133, 2.179, 30.402, None, 46.394, 24.381),
 (2, 'AFG', 2015, 'Low income', 615.091, 21.466, -1.549, 18.602, None, -49.11, -7.294)]

- Use AVG() with LEFT JOIN to deteremine the GDP per capita by region in 2010

In [74]:
%%sql
SELECT region, AVG(gdp_percapita) AS avg_gdp
FROM countries AS c
    LEFT JOIN economies as E
        USING(code)
WHERE year = 2010
GROUP BY region
ORDER BY avg_gdp DESC
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('Western Europe', 58130.96149553572),
 ('Nordic Countries', 57073.99765625),
 ('North America', 47911.509765625),
 ('Australia and New Zealand', 44792.384765625),
 ('British Islands', 43588.330078125)]

___

## 2. RIGHT JOIN
- Same a LEFT JOIN but with right table

In [75]:
%sql postgresql://localhost/leaders

'Connected: @leaders'

In [76]:
%%sql
SELECT p2.country, prime_minister, president
FROM prime_ministers AS p1
    RIGHT JOIN presidents AS p2
        ON p1.country = p2.country

   postgresql://localhost/countries
 * postgresql://localhost/leaders
7 rows affected.

[('Egypt', 'Sherif Ismail', 'Abdel Fattah el-Sisi'),
 ('Portugal', 'Antonio Costa', 'Marcelo Rebelo de Sousa'),
 ('Haiti', 'Jack Guy Lafontant', 'Jovenel Moise'),
 ('Uruguay', None, 'Jose Mujica'),
 ('Liberia', None, 'Ellen Johnson Sirleaf'),
 ('Chile', None, 'Michelle Bachelet'),
 ('Vietnam', 'Nguyen Xuan Phuc', 'Tran Dai Quang')]

___

### 2.1. Example 2
- Use AVG() with RIGHT JOIN to deteremine the GDP per capita by region in 2010

In [77]:
%%sql 
postgresql://localhost/countries

'Connected: @countries'

In [78]:
%%sql
SELECT region, AVG(gdp_percapita) AS avg_gdp
FROM economies as E
    RIGHT JOIN countries AS c
        USING(code)
WHERE year = 2010
GROUP BY region
ORDER BY avg_gdp DESC
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('Western Europe', 58130.96149553572),
 ('Nordic Countries', 57073.99765625),
 ('North America', 47911.509765625),
 ('Australia and New Zealand', 44792.384765625),
 ('British Islands', 43588.330078125)]

___

## 3. JOINING 3 TABLES
To further illustrate the nuances between LEFT and RIGHT JOIN syntax.

### 3.1 LEFT JOIN

In [79]:
%%sql
SELECT cities.name AS city, urbanarea_pop, countries.name AS country,
       indep_year, languages.name AS language, percent
FROM cities
  LEFT JOIN countries
    ON cities.country_code = countries.code
  LEFT JOIN languages
    ON countries.code = languages.code
ORDER BY city, language
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('Abidjan', 4765000.0, "Cote d'Ivoire", 1960, 'French', None),
 ('Abidjan', 4765000.0, "Cote d'Ivoire", 1960, 'Other', None),
 ('Abu Dhabi', 1145000.0, 'United Arab Emirates', 1971, 'Arabic', None),
 ('Abu Dhabi', 1145000.0, 'United Arab Emirates', 1971, 'English', None),
 ('Abu Dhabi', 1145000.0, 'United Arab Emirates', 1971, 'Hindi', None)]

___

### 3.2 RIGHT JOIN
- Note the order of the joins are reversed

In [80]:
%%sql
SELECT cities.name AS city, urbanarea_pop, countries.name AS country,
       indep_year, languages.name AS language, percent
FROM languages
  RIGHT JOIN countries
    ON languages.code = countries.code
  RIGHT JOIN cities
    ON cities.country_code = countries.code
ORDER BY city, language
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('Abidjan', 4765000.0, "Cote d'Ivoire", 1960, 'French', None),
 ('Abidjan', 4765000.0, "Cote d'Ivoire", 1960, 'Other', None),
 ('Abu Dhabi', 1145000.0, 'United Arab Emirates', 1971, 'Arabic', None),
 ('Abu Dhabi', 1145000.0, 'United Arab Emirates', 1971, 'English', None),
 ('Abu Dhabi', 1145000.0, 'United Arab Emirates', 1971, 'Hindi', None)]