# SQL Cheat Sheet
CROSS JOINS
- Cross Joins create all possible combinations of two tables
- Cross Joins do not use ON or USING

## 0. Loading Databases

In [6]:
reload_ext sql

In [9]:
%%sql
postgresql://localhost/leaders

'Connected: @leaders'

 * postgresql://localhost/leaders
7 rows affected.

[('Egypt', 'Africa', 'Abdel Fattah el-Sisi'),
 ('Portugal', 'Europe', 'Marcelo Rebelo de Sousa'),
 ('Haiti', 'North America', 'Jovenel Moise'),
 ('Uruguay', 'South America', 'Jose Mujica'),
 ('Liberia', 'Africa', 'Ellen Johnson Sirleaf'),
 ('Chile', 'South America', 'Michelle Bachelet'),
 ('Vietnam', 'Asia', 'Tran Dai Quang')]

In [13]:
%%sql
SELECT * FROM prime_ministers;

 * postgresql://localhost/leaders
10 rows affected.

[('Egypt', 'Africa', 'Sherif Ismail'),
 ('Portugal', 'Europe', 'Antonio Costa'),
 ('Vietnam', 'Asia', 'Nguyen Xuan Phuc'),
 ('Haiti', 'North America', 'Jack Guy Lafontant'),
 ('India', 'Asia', 'Narendra Modi'),
 ('Australia', 'Oceania', 'Malcolm Turnbull'),
 ('Norway', 'Europe', 'Erna Solberg'),
 ('Brunei', 'Asia', 'Hassanal Bolkiah'),
 ('Oman', 'Asia', 'Qaboos bin Said al Said'),
 ('Spain', 'Europe', 'Mariano Rajoy')]

_____

## 1. Introduction
- Assuming all prime ministers in North America and Oceania are scheduled for individial meeting with all presidents in the presidents table
- Use a cross join to show the combination

In [17]:
%%sql
SELECT prime_minister, president
FROM prime_ministers as pm
    CROSS JOIN presidents
WHERE pm.continent IN ('North America', 'Oceania')

 * postgresql://localhost/leaders
14 rows affected.

[('Jack Guy Lafontant', 'Abdel Fattah el-Sisi'),
 ('Malcolm Turnbull', 'Abdel Fattah el-Sisi'),
 ('Jack Guy Lafontant', 'Marcelo Rebelo de Sousa'),
 ('Malcolm Turnbull', 'Marcelo Rebelo de Sousa'),
 ('Jack Guy Lafontant', 'Jovenel Moise'),
 ('Malcolm Turnbull', 'Jovenel Moise'),
 ('Jack Guy Lafontant', 'Jose Mujica'),
 ('Malcolm Turnbull', 'Jose Mujica'),
 ('Jack Guy Lafontant', 'Ellen Johnson Sirleaf'),
 ('Malcolm Turnbull', 'Ellen Johnson Sirleaf'),
 ('Jack Guy Lafontant', 'Michelle Bachelet'),
 ('Malcolm Turnbull', 'Michelle Bachelet'),
 ('Jack Guy Lafontant', 'Tran Dai Quang'),
 ('Malcolm Turnbull', 'Tran Dai Quang')]

___

## 2. Example 1
- Connecting to Databases

In [19]:
%%sql
postgresql://localhost/countries

'Connected: @countries'

In [21]:
%%sql
SELECT * FROM cities
LIMIT 2;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
2 rows affected.

[('Abidjan', 'CIV', 4765000.0, None, 4765000.0),
 ('Abu Dhabi', 'ARE', 1145000.0, None, 1145000.0)]

In [23]:
%%sql
SELECT * FROM languages
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[(1, 'AFG', 'Dari', 50.0, True),
 (2, 'AFG', 'Pashto', 35.0, True),
 (3, 'AFG', 'Turkic', 11.0, False),
 (4, 'AFG', 'Other', 4.0, False),
 (5, 'ALB', 'Albanian', 98.8, True)]

- Explore languages potentially and most frequently spoken in the cities of Hyderabad, India and Hyderabad, Pakistan.

In [33]:
%%sql
SELECT c.name AS cities, l.name AS language
FROM cities AS c
    CROSS JOIN languages AS l
WHERE c.name LIKE 'Hyder%'
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('Hyderabad (India)', 'Dari'),
 ('Hyderabad', 'Dari'),
 ('Hyderabad (India)', 'Pashto'),
 ('Hyderabad', 'Pashto'),
 ('Hyderabad (India)', 'Turkic')]

- The above code matches the two cities to every possible language in the languages table
- To find out the langueages spoken only in those cities we need to use an INNER JOIN
- and match on the country code
- since we applied the filter it will (math all equal codes but) display only countries in why Hyderabad exist

In [39]:
%%sql
SELECT c.name AS cities, l.name AS language
FROM cities AS c
    INNER JOIN languages AS l
        ON c.country_code = l.code
WHERE c.name LIKE 'Hyder%'

 * postgresql://localhost/countries
   postgresql://localhost/leaders
25 rows affected.

[('Hyderabad (India)', 'Hindi'),
 ('Hyderabad (India)', 'Bengali'),
 ('Hyderabad (India)', 'Telugu'),
 ('Hyderabad (India)', 'Marathi'),
 ('Hyderabad (India)', 'Tamil'),
 ('Hyderabad (India)', 'Urdu'),
 ('Hyderabad (India)', 'Gujarati'),
 ('Hyderabad (India)', 'Kannada'),
 ('Hyderabad (India)', 'Malayalam'),
 ('Hyderabad (India)', 'Oriya'),
 ('Hyderabad (India)', 'Punjabi'),
 ('Hyderabad (India)', 'Assamese'),
 ('Hyderabad (India)', 'Maithili'),
 ('Hyderabad (India)', 'Other'),
 ('Hyderabad', 'Punjabi'),
 ('Hyderabad', 'Sindhi'),
 ('Hyderabad', 'Saraiki'),
 ('Hyderabad', 'Pashto'),
 ('Hyderabad', 'Urdu'),
 ('Hyderabad', 'Balochi'),
 ('Hyderabad', 'Hindko'),
 ('Hyderabad', 'Brahui'),
 ('Hyderabad', 'English'),
 ('Hyderabad', 'Burushaski'),
 ('Hyderabad', 'Other')]