# SQL CHEAT SHEET : Set Theory
INTERCEPT | EXCEPT

In [1]:
reload_ext sql

In [2]:
%%sql
postgresql://localhost/countries

'Connected: @countries'

___

## 1. INTERSECT
Includes only the records found in both tables

-  Look at the records in common for country code and year for the economies and populations tables.

In [3]:
%%sql
SELECT code, year FROM economies 
INTERSECT
SELECT country_code, year FROM populations
ORDER BY code, year
LIMIT 5;

 * postgresql://localhost/countries
5 rows affected.

[('AFG', 2010), ('AFG', 2015), ('AGO', 2010), ('AGO', 2015), ('ALB', 2010)]

- Which countries also have a city with the same name as their country name?

In [31]:
%%sql
SELECT name FROM countries
INTERSECT
SELECT name FROM cities

 * postgresql://localhost/countries
   postgresql://localhost/leaders
2 rows affected.

[('Singapore',), ('Hong Kong',)]

___

- Connecting to leaders database

In [17]:
%%sql
postgresql://localhost/leaders

'Connected: @leaders'

- Select monarchs that are prime minsters

In [6]:
%%sql
SELECT monarch, country FROM monarchs
INTERSECT
SELECT prime_minister, country FROM prime_ministers;

   postgresql://localhost/countries
 * postgresql://localhost/leaders
2 rows affected.

[('Qaboos bin Said al Said', 'Oman'), ('Hassanal Bolkiah', 'Brunei')]

___

## 2. EXCEPT
Includes records found in only one table (the left table)

- Select monarchs that aren't prime minsters

In [18]:
%%sql
SELECT monarch, country FROM monarchs
EXCEPT
SELECT prime_minister, country FROM prime_ministers;

   postgresql://localhost/countries
 * postgresql://localhost/leaders
2 rows affected.

[('Harald V', 'Norway'), ('Felipe VI', 'Spain')]

___

- Connecting to countries database

In [23]:
%%sql
postgresql://localhost/countries

'Connected: @countries'

In [24]:
%%sql
SELECT * FROM countries
LIMIT 1;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
1 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Kabul', 69.1761, 34.5228)]

In [28]:
%%sql
SELECT * FROM cities
LIMIT 1;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
1 rows affected.

[('Abidjan', 'CIV', 4765000.0, None, 4765000.0)]

___

- Get the names of cities in 'cities' which are not noted as capital cities in 'contries' as a single field result.
- Result is 170 rows.

In [46]:
%%sql
SELECT name FROM cities
EXCEPT
SELECT capital FROM countries
ORDER BY name
LIMIT 4;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
4 rows affected.

[('Abidjan',), ('Ahmedabad',), ('Alexandria',), ('Almaty',)]

- Determine the names of capital cities that are not listed in the cities table.
- RESULT is 136 Rows

In [47]:
%%sql
SELECT capital FROM countries
EXCEPT
SELECT name FROM cities
ORDER BY capital
LIMIT 4;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
4 rows affected.

[('Agana',), ('Amman',), ('Amsterdam',), ('Andorra la Vella',)]