# SQL Cheat SHeet
SEMI JOIN | ANTI JOIN

In [1]:
reload_ext sql

In [2]:
%%sql
postgresql://localhost/leaders

'Connected: @leaders'

In [3]:
%%sql
SELECT * FROM presidents
ORDER BY country

 * postgresql://localhost/leaders
7 rows affected.

[('Chile', 'South America', 'Michelle Bachelet'),
 ('Egypt', 'Africa', 'Abdel Fattah el-Sisi'),
 ('Haiti', 'North America', 'Jovenel Moise'),
 ('Liberia', 'Africa', 'Ellen Johnson Sirleaf'),
 ('Portugal', 'Europe', 'Marcelo Rebelo de Sousa'),
 ('Uruguay', 'South America', 'Jose Mujica'),
 ('Vietnam', 'Asia', 'Tran Dai Quang')]

In [4]:
%%sql
SELECT name FROM states
WHERE indep_year < 1800
ORDER BY name

 * postgresql://localhost/leaders
2 rows affected.

[('Portugal',), ('Spain',)]

___

## 1. SEMI JOIN
Diplays records in the first table WHERE a condition IS MET in the second table

- Display the presidents who's countried got indepence before 1800

In [5]:
%%sql
SELECT president, country, continent 
FROM presidents
WHERE country IN
    (SELECT name FROM states
     WHERE indep_year < 1800)
ORDER BY country;

 * postgresql://localhost/leaders
1 rows affected.

[('Marcelo Rebelo de Sousa', 'Portugal', 'Europe')]

___

- Connecting to countries database

In [10]:
%%sql
postgresql://localhost/countries

'Connected: @countries'

In [25]:
%%sql
SELECT * FROM countries
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Kabul', 69.1761, 34.5228),
 ('NLD', 'Netherlands', 'Europe', 'Western Europe', 41526.0, 1581, 'Nederland', 'Constitutional Monarchy', 'Amsterdam', 4.89095, 52.3738),
 ('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 'Shqiperia', 'Republic', 'Tirane', 19.8172, 41.3317),
 ('DZA', 'Algeria', 'Africa', 'Northern Africa', 2381740.0, 1962, 'Al-Jaza\x92ir/Algerie', 'Republic', 'Algiers', 3.05097, 36.7397),
 ('ASM', 'American Samoa', 'Oceania', 'Polynesia', 199.0, None, 'Amerika Samoa', 'US Territory', 'Pago Pago', -170.691, -14.2846)]

In [13]:
%%sql
SELECT * FROM languages
LIMIT 1;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
1 rows affected.

[(1, 'AFG', 'Dari', 50.0, True)]

___

- Use the concept of a semi-join to identify languages spoken in the Middle East.

In [39]:
%%sql
SELECT DISTINCT(name) AS language FROM languages
WHERE code IN 
    (SELECT code FROM countries
     WHERE region = 'Middle East')
ORDER BY name
LIMIT 3;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
3 rows affected.

[('Arabic',), ('Aramaic',), ('Armenian',)]

___

## 2. ANTI JOIN
Displays records in the first table where a condition IS NOT MET in the second table

In [52]:
%%sql
postgresql://localhost/leaders

'Connected: @leaders'

- DIsplay countries in the americas who got independence after 1800

In [6]:
%%sql
SELECT president, country, continent 
FROM presidents
WHERE continent LIKE '%America'
AND country NOT IN
    (SELECT name FROM states
     WHERE indep_year < 1800)
ORDER BY country;

 * postgresql://localhost/leaders
3 rows affected.

[('Michelle Bachelet', 'Chile', 'South America'),
 ('Jovenel Moise', 'Haiti', 'North America'),
 ('Jose Mujica', 'Uruguay', 'South America')]

___

- Connecting to countries database

In [44]:
%%sql
postgresql://localhost/countries

'Connected: @countries'

In [47]:
%%sql
SELECT * FROM currencies
LIMIT 1;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
1 rows affected.

[(1, 'AFG', 'Afghan afghani', 'AFN', 'Pul', 100.0)]

___

- LOOK INTO: when using inner joing some valuessome results may not be included, using an anti join can tell you waht values were left out??? wtf does this meean? why do inner join leave out values. SEE Set theory anti join exercises

___

## 3. FULL EXAMPLE
Identify the country codes that are included in either economies or currencies but not in populations.
Use that result to determine the names of cities in the countries that match the specification in the previous instruction.

In [54]:
%%sql
SELECT name FROM cities AS c1
WHERE country_code IN (
        SELECT e.code
        FROM economies AS e
        UNION
        SELECT c2.code
        FROM currencies AS c2
    
        EXCEPT
        SELECT p.country_code
        FROM populations AS p );

 * postgresql://localhost/countries
   postgresql://localhost/leaders
6 rows affected.

[('Bucharest',),
 ('Kaohsiung',),
 ('New Taipei City',),
 ('Taichung',),
 ('Tainan',),
 ('Taipei',)]