# SQL Cheat Sheet
SUBQUERIES INSIDE SELECT

- Connecting to Database

In [1]:
reload_ext sql

In [2]:
%%sql
postgresql://localhost/countries

'Connected: @countries'

In [3]:
%%sql
SELECT * FROM cities
LIMIT 1

 * postgresql://localhost/countries
1 rows affected.

[('Abidjan', 'CIV', 4765000.0, None, 4765000.0)]

In [4]:
%%sql
SELECT * FROM countries
LIMIT 1

 * postgresql://localhost/countries
1 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Kabul', 69.1761, 34.5228)]

___

## 1. Subquery Inside SELECT Clauses

- Select the top 9 countries with the most cities (in terms of the cities in the cities table) in descending order

In [5]:
%%sql 
SELECT name AS country,
    (SELECT COUNT(*) FROM cities
    WHERE countries.code = cities.country_code) AS cities_num
FROM countries
ORDER BY cities_num DESC, country
LIMIT 9;

 * postgresql://localhost/countries
9 rows affected.

[('China', 36),
 ('India', 18),
 ('Japan', 11),
 ('Brazil', 10),
 ('Pakistan', 9),
 ('United States', 9),
 ('Indonesia', 7),
 ('Russian Federation', 7),
 ('South Korea', 7)]

___

- Connecting to leaders database

In [6]:
%%sql
postgresql://localhost/leaders

'Connected: @leaders'

___

- How many countries in the states table are in the distinct continents of the prime_ministers table

In [7]:
%%sql
SELECT DISTINCT(continent),
    (SELECT COUNT(*) FROM states
     WHERE prime_ministers.continent = states.continent) AS countries_num
FROM prime_ministers;

   postgresql://localhost/countries
 * postgresql://localhost/leaders
5 rows affected.

[('Africa', 2),
 ('Asia', 4),
 ('Europe', 3),
 ('North America', 1),
 ('Oceania', 1)]

- Count of countries in the distinct continents of the prime_ministers table

In [8]:
%%sql 
SELECT DISTINCT(continent), COUNT(*) AS countries_num
FROM prime_ministers
GROUP BY continent
ORDER BY continent

   postgresql://localhost/countries
 * postgresql://localhost/leaders
5 rows affected.

[('Africa', 1),
 ('Asia', 4),
 ('Europe', 3),
 ('North America', 1),
 ('Oceania', 1)]

___