# SQL Cheat Sheet: Aggregate Fuctions

___

## 0. Loading Database

In [2]:
%reload_ext sql

In [3]:
%%sql
postgresql://localhost/films

'Connected: @films'

___

## 1. Database Tables

In [16]:
%%sql 
-- Replace films whichever table (people/reviews/roles) you would like to see

SELECT * FROM films LIMIT 5;

 * postgresql://localhost/films
5 rows affected.

[(1, "Intolerance: Love's Struggle Throughout the Ages", 1916, 'USA', 123, None, 'Not Rated', None, 385907),
 (2, 'Over the Hill to the Poorhouse', 1920, 'USA', 110, None, None, 3000000, 100000),
 (3, 'The Big Parade', 1925, 'USA', 151, None, 'Not Rated', None, 245000),
 (4, 'Metropolis', 1927, 'Germany', 145, 'German', 'Not Rated', 26435, 6000000),
 (5, "Pandora's Box", 1929, 'Germany', 110, 'German', 'Not Rated', 9950, None)]

___

## 2. Functions

- #### SUM

In [5]:
%%sql
-- Total Duration of all films
SELECT SUM(duration) FROM films;

 * postgresql://localhost/films
1 rows affected.

[(534882,)]

- #### AVG

In [6]:
%%sql
-- Average Duration of films
SELECT AVG(duration) FROM films;

 * postgresql://localhost/films
1 rows affected.

[(Decimal('107.9479313824419778'),)]

- #### MIN

In [7]:
%%sql
-- Duration of the shortest film
SELECT MIN(duration) FROM films;

 * postgresql://localhost/films
1 rows affected.

[(7,)]

- #### MAX

In [8]:
%%sql
-- Duration of the longest film
SELECT MAX(duration) FROM films;

 * postgresql://localhost/films
1 rows affected.

[(334,)]

___

## 3. Used in Combination

In [9]:
%%sql     
-- total amount grossed by all films made in the year 2000 or later.
SELECT SUM(gross) FROM films
WHERE release_year >= 2000;

 * postgresql://localhost/films
1 rows affected.

[(Decimal('150900926358'),)]

In [10]:
%%sql
-- Average amount grossed by all films whose titles start with the letter 'A'.
SELECT AVG(gross) FROM films
WHERE title LIKE 'A%';

 * postgresql://localhost/films
1 rows affected.

[(Decimal('47893236.422480620155'),)]

In [11]:
%%sql
-- Amount grossed by the worst performing film in 1994.
SELECT MIN(gross) FROM films
WHERE release_year = 1994

 * postgresql://localhost/films
1 rows affected.

[(125169,)]

In [12]:
%%sql
-- Amount grossed by the best performing film between 2000 and 2012, inclusive.
SELECT MAX(gross) FROM films
WHERE release_year BETWEEN 2000 AND 2012;

 * postgresql://localhost/films
1 rows affected.

[(760505847,)]

___

## 4. HAVING AGG( )
#### Filter Using Aggregate Function
- In SQL, aggregate functions can't be used in WHERE clauses. For example, the following query is invalid:
> SELECT release_year
FROM films
GROUP BY release_year
**WHERE COUNT(title) > 10;**

- This means that if you want to filter based on the result of an aggregate function, you need another way! That's where the HAVING clause comes in. For example,
>SELECT release_year
FROM films
GROUP BY release_year
**HAVING COUNT(title) > 10;**

- Shows only those years in which more than 10 films were released.

In [26]:
%%sql
SELECT release_year, count(title) FROM films 
GROUP BY release_year
HAVING COUNT(*) > 10
LIMIT 5;

 * postgresql://localhost/films
5 rows affected.

[(1988, 31), (None, 42), (2008, 225), (1991, 31), (1989, 33)]

- write a query that returns the average budget and average gross earnings for films in each year after 1990, if the average budget is greater than $60 million.

In [22]:
%%sql
SELECT release_year, 
       AVG(budget) AS avg_budget,
       AVG(gross) AS avg_gross from films
WHERE release_year > 1915
GROUP BY release_year
HAVING AVG(budget) > 60000000
ORDER BY release_year;

 * postgresql://localhost/films
91 rows affected.

[(1916, Decimal('385907.000000000000'), None),
 (1920, Decimal('100000.000000000000'), Decimal('3000000.000000000000')),
 (1925, Decimal('245000.000000000000'), None),
 (1927, Decimal('6000000.000000000000'), Decimal('26435.000000000000')),
 (1929, Decimal('379000.000000000000'), Decimal('1408975.000000000000')),
 (1930, Decimal('3950000.000000000000'), None),
 (1932, Decimal('800000.000000000000'), None),
 (1933, Decimal('319500.000000000000'), Decimal('2300000.000000000000')),
 (1934, Decimal('325000.000000000000'), None),
 (1935, Decimal('609000.000000000000'), Decimal('3000000.000000000000')),
 (1936, Decimal('1350000.000000000000'), Decimal('163245.000000000000')),
 (1937, Decimal('2000000.000000000000'), Decimal('184925485.000000000000')),
 (1938, Decimal('1822368.000000000000'), None),
 (1939, Decimal('2759000.000000000000'), Decimal('110428945.000000000000')),
 (1940, Decimal('1945500.000000000000'), Decimal('80350000.000000000000')),
 (1941, Decimal('1250000.000000000000'), None),
 (1942, Decimal('950000.000000000000'), Decimal('102797150.000000000000')),
 (1943, Decimal('2627000.000000000000'), None),
 (1944, Decimal('2361000.000000000000'), None),
 (1945, Decimal('1702125.666666666667'), None),
 (1946, Decimal('4426666.666666666667'), Decimal('22025000.000000000000')),
 (1947, Decimal('2503000.000000000000'), Decimal('7927.0000000000000000')),
 (1948, Decimal('3350000.000000000000'), Decimal('2956000.000000000000')),
 (1949, Decimal('1300000.000000000000'), None),
 (1950, Decimal('3768785.000000000000'), Decimal('8000000.000000000000')),
 (1951, Decimal('3906143.000000000000'), None),
 (1952, Decimal('2430266.666666666667'), Decimal('36000000.000000000000')),
 (1953, Decimal('2027500.000000000000'), Decimal('20500000.000000000000')),
 (1954, Decimal('3582000.000000000000'), Decimal('4934530.500000000000')),
 (1955, Decimal('1200000.000000000000'), None),
 (1956, Decimal('3166666.666666666667'), None),
 (1957, Decimal('1675000.000000000000'), Decimal('27200000.000000000000')),
 (1958, Decimal('3000000.000000000000'), None),
 (1959, Decimal('3794616.000000000000'), Decimal('25000000.000000000000')),
 (1960, Decimal('2268982.333333333333'), Decimal('32000000.000000000000')),
 (1961, Decimal('3580000.000000000000'), Decimal('43650000.000000000000')),
 (1962, Decimal('4420250.000000000000'), Decimal('11033517.500000000000')),
 (1963, Decimal('7712698.125000000000'), Decimal('42950000.000000000000')),
 (1964, Decimal('5454000.000000000000'), Decimal('38237907.166666666667')),
 (1965, Decimal('8716666.666666666667'), Decimal('69310231.800000000000')),
 (1966, Decimal('2679633.333333333333'), Decimal('6100000.000000000000')),
 (1967, Decimal('5333333.333333333333'), Decimal('43100000.000000000000')),
 (1968, Decimal('4428300.000000000000'), Decimal('36757685.500000000000')),
 (1969, Decimal('7616009.666666666667'), Decimal('41711931.000000000000')),
 (1970, Decimal('10513912.166666666667'), Decimal('10450000.000000000000')),
 (1971, Decimal('3432700.000000000000'), Decimal('27247057.750000000000')),
 (1972, Decimal('2012222.222222222222'), Decimal('67501217.500000000000')),
 (1973, Decimal('3968420.333333333333'), Decimal('102919529.000000000000')),
 (1974, Decimal('4185229.333333333333'), Decimal('55052942.857142857143')),
 (1975, Decimal('4821595.833333333333'), Decimal('124409732.333333333333')),
 (1976, Decimal('3838930.555555555556'), Decimal('71117623.500000000000')),
 (1977, Decimal('9863179.375000000000'), Decimal('106290809.285714285714')),
 (1978, Decimal('11283333.333333333333'), Decimal('71542234.600000000000')),
 (1979, Decimal('15714285.714285714286'), Decimal('63579571.428571428571')),
 (1980, Decimal('15990909.090909090909'), Decimal('57697266.733333333333')),
 (1981, Decimal('11861718.750000000000'), Decimal('41460781.529411764706')),
 (1982, Decimal('13101724.137931034483'), Decimal('75037552.187500000000')),
 (1983, Decimal('15875100.000000000000'), Decimal('70192386.357142857143')),
 (1984, Decimal('14368548.387096774194'), Decimal('62939598.739130434783')),
 (1985, Decimal('13513983.551724137931'), Decimal('59223134.133333333333')),
 (1986, Decimal('14002884.615384615385'), Decimal('44436464.040000000000')),
 (1987, Decimal('13533870.967741935484'), Decimal('40233264.774193548387')),
 (1988, Decimal('49061290.322580645161'), Decimal('41190351.833333333333')),
 (1989, Decimal('18359393.939393939394'), Decimal('49678453.151515151515')),
 (1990, Decimal('32388241.379310344828'), Decimal('78203971.250000000000')),
 (1991, Decimal('25176548.387096774194'), Decimal('53844501.666666666667')),
 (1992, Decimal('25982030.303030303030'), Decimal('63665195.147058823529')),
 (1993, Decimal('20729787.234042553191'), Decimal('45302091.413043478261')),
 (1994, Decimal('29013773.584905660377'), Decimal('59395666.169811320755')),
 (1995, Decimal('32775000.000000000000'), Decimal('44909519.985507246377')),
 (1996, Decimal('31620612.244897959184'), Decimal('42044174.252631578947')),
 (1997, Decimal('59424490.740740740741'), Decimal('44793772.431034482759')),
 (1998, Decimal('40460000.000000000000'), Decimal('38377007.961240310078')),
 (1999, Decimal('38981780.487804878049'), Decimal('38072176.277108433735')),
 (2000, Decimal('34931375.757575757576'), Decimal('42172627.580838323353')),
 (2001, Decimal('37687307.692307692308'), Decimal('43255716.925531914894')),
 (2002, Decimal('32598510.688118811881'), Decimal('43511151.485000000000')),
 (2003, Decimal('37208648.833333333333'), Decimal('48727746.723270440252')),
 (2004, Decimal('46865344.624365482234'), Decimal('40726529.110000000000')),
 (2005, Decimal('70323938.231527093596'), Decimal('41159143.290640394089')),
 (2006, Decimal('93968929.577464788732'), Decimal('39237855.953703703704')),
 (2007, Decimal('35271131.147540983607'), Decimal('46267501.022346368715')),
 (2008, Decimal('41804885.572139303483'), Decimal('44573509.378109452736')),
 (2009, Decimal('37073287.037037037037'), Decimal('46207440.200000000000')),
 (2010, Decimal('46094664.948453608247'), Decimal('49908326.010050251256')),
 (2011, Decimal('37775251.715686274510'), Decimal('45785836.643979057592')),
 (2012, Decimal('41331819.162436548223'), Decimal('62873527.679558011050')),
 (2013, Decimal('40519044.915492957746'), Decimal('56158357.775401069519')),
 (2014, Decimal('35325799.126637554585'), Decimal('62412136.946107784431')),
 (2015, Decimal('39298329.217391304348'), Decimal('72573302.930555555556')),
 (2016, Decimal('56642741.935483870968'), Decimal('76924035.891891891892'))]