# SQL Cheat Sheet: Case When

In [4]:
%reload_ext sql

%sql postgresql://localhost/leaders

'Connected: @leaders'

In [5]:
%%sql
SELECT * FROM states LIMIT 2;

 * postgresql://localhost/leaders
2 rows affected.

[('Australia', 'Oceania', 1901, 1.88, 32.74),
 ('Brunei', 'Asia', 1984, 1.96, 6.06)]

- Group year of in dependence into 3 categories:
 - Before 1900
 - 1900 to 1930
 - After 1930

In [6]:
%%sql
SELECT name, continent, indep_year,
    CASE WHEN indep_year < 1900 THEN 'before 1900'
         WHEN indep_year <= 1930 THEN 'btw 1900 to 1930'
         ELSE '1931 and beyond' END
         AS indep_year_group
FROM states
ORDER BY indep_year      
LIMIT 5;

 * postgresql://localhost/leaders
5 rows affected.

[('Portugal', 'Europe', 1143, 'before 1900'),
 ('Spain', 'Europe', 1492, 'before 1900'),
 ('Haiti', 'North America', 1804, 'before 1900'),
 ('Chile', 'South America', 1810, 'before 1900'),
 ('Uruguay', 'South America', 1828, 'before 1900')]

___

In [7]:
%sql postgresql://localhost/countries

'Connected: @countries'

In [8]:
%%sql 
SELECT * FROM countries
LIMIT 2

 * postgresql://localhost/countries
   postgresql://localhost/leaders
2 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Kabul', 69.1761, 34.5228),
 ('NLD', 'Netherlands', 'Europe', 'Western Europe', 41526.0, 1581, 'Nederland', 'Constitutional Monarchy', 'Amsterdam', 4.89095, 52.3738)]

Using the countries table, create a new field AS geosize_group that groups the countries into three groups:

- If surface_area is greater than 2 million, geosize_group is 'large'.
- If surface_area is greater than 350 thousand but not larger than 2 million, geosize_group is 'medium'.
- Otherwise, geosize_group is 'small'.

In [9]:
%%sql
SELECT name, continent, code, surface_area,
    CASE WHEN surface_area > 2000000 THEN 'large'
         WHEN surface_area > 350000 THEN 'medium'
         ELSE 'small' END
    AS geosize_group
FROM countries
ORDER BY surface_area
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('Monaco', 'Europe', 'MCO', 1.5, 'small'),
 ('Gibraltar', 'Europe', 'GIB', 6.0, 'small'),
 ('Macao', 'Asia', 'MAC', 18.0, 'small'),
 ('Nauru', 'Oceania', 'NRU', 21.0, 'small'),
 ('Tuvalu', 'Oceania', 'TUV', 26.0, 'small')]

___

Using the populations table focused only for the year 2015, create a new field aliased as popsize_group to organize population size into

- 'large' (> 50 million),
- 'medium' (> 1 million), and
- 'small' groups.

Select only the country code, population size, and this new popsize_group as fields.

In [10]:
%sql SELECT * FROM populations LIMIT 2;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
2 rows affected.

[(20, 'ABW', 2010, 1.704, 74.95354, 101597.0),
 (19, 'ABW', 2015, 1.647, 75.573586, 103889.0)]

In [11]:
%%sql
SELECT country_code, size,
    CASE WHEN size > 50000000 THEN 'large'
         WHEN size > 1000000 THEN 'medium'
         ELSE 'small' END
    AS popsize_group
FROM populations
WHERE year = 2015
ORDER BY size
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('TUV', 9916.0, 'small'),
 ('NRU', 12475.0, 'small'),
 ('PLW', 21291.0, 'small'),
 ('VGB', 30117.0, 'small'),
 ('MAF', 31754.0, 'small')]

___

## 1. USING INTO

- INTO countries_pluss

In [12]:
%%sql
SELECT name, continent, code, surface_area,
    CASE WHEN surface_area > 2000000 THEN 'large'
         WHEN surface_area > 350000 THEN 'medium'
         ELSE 'small' END
    AS geosize_group
INTO countries_pluss
FROM countries;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
(psycopg2.errors.DuplicateTable) relation "countries_pluss" already exists

[SQL: SELECT name, continent, code, surface_area,
    CASE WHEN surface_area > 2000000 THEN 'large'
         WHEN surface_area > 350000 THEN 'medium'
         ELSE 'small' END
    AS geosize_group
INTO countries_pluss
FROM countries;]
(Background on this error at: http://sqlalche.me/e/f405)

In [13]:
%sql SELECT * FROM countries_pluss LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('Afghanistan', 'Asia', 'AFG', 652090.0, 'medium'),
 ('Netherlands', 'Europe', 'NLD', 41526.0, 'small'),
 ('Albania', 'Europe', 'ALB', 28748.0, 'small'),
 ('Algeria', 'Africa', 'DZA', 2381740.0, 'large'),
 ('American Samoa', 'Oceania', 'ASM', 199.0, 'small')]

___

- INTO pop_pluss

In [14]:
%%sql
SELECT country_code, size,
    CASE WHEN size > 50000000 THEN 'large'
         WHEN size > 1000000 THEN 'medium'
         ELSE 'small' END
    AS popsize_group
INTO pop_pluss
FROM populations
WHERE year = 2015;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
(psycopg2.errors.DuplicateTable) relation "pop_pluss" already exists

[SQL: SELECT country_code, size,
    CASE WHEN size > 50000000 THEN 'large'
         WHEN size > 1000000 THEN 'medium'
         ELSE 'small' END
    AS popsize_group
INTO pop_pluss
FROM populations
WHERE year = 2015;]
(Background on this error at: http://sqlalche.me/e/f405)

In [15]:
%sql SELECT * FROM pop_pluss LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('ABW', 103889.0, 'small'),
 ('AFG', 32526562.0, 'medium'),
 ('AGO', 25021974.0, 'medium'),
 ('ALB', 2889167.0, 'medium'),
 ('AND', 70473.0, 'small')]

___

Write a query to join countries_plus AS c on the left with pop_plus AS p on the right matching on the country code fields.
- Sort the data based on geosize_group, in ascending order so that large appears on top.
- Select the name, continent, geosize_group, and popsize_group fields.

In [16]:
%%sql
SELECT name, continent, geosize_group, popsize_group
FROM countries_pluss AS c
    INNER JOIN pop_pluss AS p
        ON c.code = p.country_code
ORDER BY geosize_group
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/leaders
5 rows affected.

[('Brazil', 'South America', 'large', 'large'),
 ('Canada', 'North America', 'large', 'medium'),
 ('Australia', 'Oceania', 'large', 'medium'),
 ('Argentina', 'South America', 'large', 'medium'),
 ('China', 'Asia', 'large', 'large')]