# Relational SQL Cheat Sheet

- Connect to DB

In [4]:
reload_ext sql

In [46]:
%%sql
postgresql://localhost/countries

'Connected: @countries'

____

## 0. Information Schema
- The information schema itself is a schema named information_schema. This schema automatically exists in all databases. The owner of this schema is the initial database user in the cluster, and that user naturally has all the privileges on this schema, including the ability to drop it (but the space savings achieved by that are minuscule).

#### - A look at the DB Table Names

In [47]:
%%sql
SELECT table_schema, table_name
FROM information_schema.tables
LIMIT 5;

 * postgresql://localhost/countries
   postgresql://localhost/uni_data
5 rows affected.

[('public', 'cities'),
 ('public', 'countries'),
 ('public', 'languages'),
 ('public', 'economies'),
 ('public', 'currencies')]

#### - A look at the columns

In [7]:
%%sql
SELECT * FROM countries
LIMIT 1;

 * postgresql://localhost/countries
1 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Kabul', 69.1761, 34.5228)]

In [8]:
%%sql
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_name = 'countries'
LIMIT 5;

 * postgresql://localhost/countries
5 rows affected.

[('countries', 'code', 'character varying'),
 ('countries', 'name', 'character varying'),
 ('countries', 'continent', 'character varying'),
 ('countries', 'region', 'character varying'),
 ('countries', 'surface_area', 'real')]

___

## 1. Info Schema Continued (Univerity Professors Dataset)

In [48]:
%%sql
postgresql://localhost/uni_data

'Connected: @uni_data'

#### - Look at tables

In [52]:
%%sql
SELECT table_name
FROM information_schema.tables
LIMIT 5;

   postgresql://localhost/countries
 * postgresql://localhost/uni_data
5 rows affected.

[('pg_statistic',),
 ('pg_type',),
 ('pg_foreign_server',),
 ('pg_authid',),
 ('pg_shadow',)]

#### -  A look at the columns

In [50]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'uni_profs'
LIMIT 10;

   postgresql://localhost/countries
 * postgresql://localhost/uni_data
9 rows affected.

[('id', 'integer'),
 ('first_name', 'character varying'),
 ('last_name', 'character varying'),
 ('uni', 'character varying'),
 ('uni_shortname', 'character varying'),
 ('uni_city', 'character varying'),
 ('funct', 'character varying'),
 ('organisation', 'character varying'),
 ('org_sector', 'character varying')]

In [40]:
%%sql 
--Finally, print the first five rows of the university_professors table.

SELECT * FROM uni_profs
LIMIT 5;

   postgresql://localhost/countries
 * postgresql://localhost/uni_data
5 rows affected.

[(1, 'Achim', 'Conzelmann', 'Uni Bern', 'UBE', 'Bern', 'NA', 'PH Bern, Schulrat', 'Education & research'),
 (2, 'Achim', 'Conzelmann', 'Uni Bern', 'UBE', 'Bern', 'NA', 'Foundation of Talents', 'Society, Social, Culture & Sports'),
 (3, 'Adrian', 'Vatter', 'Uni Bern', 'UBE', 'Bern', 'NA', 'B端ro Vatter AG', 'Consulting, public relations, legal & trust'),
 (4, 'Adriano', 'Marantelli', 'Uni Bern', 'UBE', 'Bern', 'NA', 'Curt Rommel Stiftung', 'Education & research'),
 (5, 'Adriano', 'Marantelli', 'Uni Bern', 'UBE', 'Bern', 'NA', 'Stiftung Archiv f端r schweizerisches Abgaberecht', 'Society, Social, Culture & Sports')]