# Pandas Cheat Sheet: Overview
READ CSV | SET INDEX | GET INFO | ADD TO DF | SELECT ROWS  COLUMNS | LOC | ILOC

In [3]:
import pandas as pd

___

## 1. Reading CSVs

In [4]:
dict = {
    'country' : ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
    'capital' : ['Brasilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
    'area' : [8.516, 17.18, 3.286, 9.597, 1.221],
    'population' : [200.4, 143.5, 1252, 1357, 52.98]
}

In [5]:
brics = pd.DataFrame(dict)

In [6]:
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.180      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

___

## 2. Setting Index

In [7]:
brics.index = ['BR', 'RU', 'IN', 'CH', 'SA']

In [8]:
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.180      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

____

- #### index_col

In [9]:
bric = pd.read_csv('Datasets/brics.csv')
bric

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [10]:
bric = pd.read_csv('Datasets/brics.csv', index_col = 0)
bric

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

___

## 3. Info

In [11]:
bric.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, BR to SA
Data columns (total 4 columns):
country       5 non-null object
capital       5 non-null object
area          5 non-null float64
population    5 non-null float64
dtypes: float64(2), object(2)
memory usage: 200.0+ bytes

In [12]:
bric.columns

Index(['country', 'capital', 'area', 'population'], dtype='object')

In [13]:
bric.index

Index(['BR', 'RU', 'IN', 'CH', 'SA'], dtype='object')

In [16]:
bric[0:1].values

array([['Brazil', 'Brasilia', 8.516, 200.4]], dtype=object)

In [27]:
values = bric.values
values

array([['Brazil', 'Brasilia', 8.516, 200.4],
       ['Russia', 'Moscow', 17.1, 143.5],
       ['India', 'New Delhi', 3.286, 1252.0],
       ['China', 'Beijing', 9.597000000000001, 1357.0],
       ['South Africa', 'Pretoria', 1.2209999999999999, 52.98]],
      dtype=object)

In [28]:
values.tolist()

[['Brazil', 'Brasilia', 8.516, 200.4],
 ['Russia', 'Moscow', 17.1, 143.5],
 ['India', 'New Delhi', 3.286, 1252.0],
 ['China', 'Beijing', 9.597000000000001, 1357.0],
 ['South Africa', 'Pretoria', 1.2209999999999999, 52.98]]

___

## 3.1 Adding to Dataframe

In [45]:
brics

         country    capital    area  population new_col
BR        Brazil   Brasilia   8.516      200.40     abc
RU        Russia     Moscow  17.180      143.50     def
IN         India  New Delhi   3.286     1252.00     ghi
CH         China    Beijing   9.597     1357.00     jkl
SA  South Africa   Pretoria   1.221       52.98     mno

In [51]:
brics['new_col'] = ['abc', 'def', 'ghi', 'jkl', 'mno']

brics

         country    capital   area population new_col
BR        Brazil   Brasilia  8.516      200.4     abc
RU        Russia     Moscow  17.18      143.5     def
IN         India  New Delhi  3.286       1252     ghi
CH         China    Beijing  9.597       1357     jkl
SA  South Africa   Pretoria  1.221      52.98     mno

In [52]:
# add row coming....

___

## 4. Selecting Columns & Rows

- #### Columns

In [12]:
bric

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [13]:
# this is a series

bric['country']

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [14]:
# this is a datatframe
bric[['country', 'capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

- #### Rows

In [15]:
bric[bric['country'] == 'Brazil']

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4

In [16]:
bric[bric.index == 'BR']

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4

In [17]:
bric[bric['area'] > 8]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [18]:
bric[:]

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [19]:
bric[0:2]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

____

## 5. Selecting With Loc

- #### Columns

In [20]:
bric.loc[:]

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [21]:
bric.loc[:, ['country', 'capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

- #### Row

In [22]:
bric.loc['BR']

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [23]:
bric.loc[['BR']]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4

In [24]:
bric.loc[['BR'], :]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4

In [25]:
bric.loc[['BR', 'RU', 'IN']]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [26]:
bric.loc[:, ['country']]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [27]:
bric.loc[['BR', 'RU'], ['country', 'capital']]

   country   capital
BR  Brazil  Brasilia
RU  Russia    Moscow

___

## 6. Selecting with iLoc

In [28]:
bric.iloc[:]

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [29]:
bric.iloc[:, [0]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [30]:
bric.iloc[:, [0,1]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

- #### Rows

In [31]:
bric.iloc[[0]]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4

In [32]:
bric.iloc[[0], :]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4

In [33]:
bric.iloc[[0, 1, 2]]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [34]:
bric.iloc[:, [0]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [35]:
bric.iloc[[0, 1, 2], [0, 1]]

   country    capital
BR  Brazil   Brasilia
RU  Russia     Moscow
IN   India  New Delhi

____

## 7. Selecting with NP logical
- See Numpy Indexing